<body>
    <div>Naam:
        <input name="naam" id="naam" type="text" />
    </div>
    <div>Geheime Tekst:
        <textarea name="geheimeTekst" id="secretText" cols="30" rows="8"></textarea>
    </div>
    <div>Wachtwoord:
        <input name="wachtwoord" id="password" type="password" />
    </div>
    <div>
        <button type="button" id="sendButton">Verstuur!</button>
    </div>
</body>