<body>

    <p>
        <h1>Encrypt-R-Us</h1>
    </p>
    <p>
        <h3>Voer je naam, geheime tekst en wachtwoord in en sla je bericht op. Deze wordt geencrypt zodat niemand hem kan lezen.
            Om hem op te halen/ decrypten voer je je naam en wachtwoord in en laat je het tekstveld leeg
        </h3>
    </p>

    <div>Naam:
        <input name="naam" id="name" type="text" />
    </div>
    <div>Geheime Tekst:
        <textarea name="geheimeTekst" id="secretText" cols="40" rows="8"></textarea>
    </div>
    <div>Wachtwoord:
        <input name="wachtwoord" id="password" type="password" />
    </div>
    <div>
        <button type="button" id="sendButton">Verstuur!</button>
    </div>
</body>